__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.pytest_cache/

# --- CUSTOM LAB OVERRIDES ---

# Ignore raw Suricata logs
*.log
eve.json
/var/log/suricata/
!/var/log/suricata/suricata.yaml

# Ignore large binary dumps
*.pcap

# Ignore local configuration backups and hardware-specific temp files
config_backups/
.DS_Store
Thumbs.db
